<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐网站 - 歌手列表</title>
</head>

<body>
    <header>
        <h1>音乐网站</h1>
        <a class="active" href="{% url 'songs:song_list' %}"> <!-- songs是应用，song_list是视图函数名 -->
            歌曲列表
        </a>
        <a href="{% url 'songs:artists' %}">歌手列表</a>
        <a href="{% url 'songs:search' %}">搜索</a>
    </header>
<main>
    <h2>全部歌手</h2>
    <p>共 {{ page_obj.paginator.count }} 位歌手</p>
    {% if page_obj.object_list %}
        <thead>
            <tr>
                <th>序号</th>
                <th>歌手</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in page_obj.object_list %}
            <tr>
                <td>{{ page_obj.start_index|add:forloop.counter0}}</td>
                <td>
                    {% if artist.img_url %}
                    <img
                    class="artist-avatar"
                    src="{{ artist.img_url }}"
                    alt="{{ artist.name }}"
                    >
                    {% endif %}

                    <a href="/artists/{{ artist.artist_id }}/">{{ artist.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% endif %}

    <!-- 分页 -->
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">首页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
                {% else %}
                    <span>下一页</span>
                    <span>尾页</span>
                {% endif %}
            {% else %}
                <span>首页</span>
                <span>上一页</span>
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">尾页</a>
            {% endif %}
        </div>
    {% endif %}
</main>
</body>
</html>